<div class="col-md-12">

<h3>Jeste li sigurni da zelite da obrisete bananu sa id-em {{id}}</h3>
<button class="btn btn-danger" (click)="obrisiBananu()">DA</button>
<button class="btn btn-info" routerLink="/banane">NE</button>
</div>