
<div class="container">
    <ul>
        <li>
            <h3>Id: {{banana.id}}</h3>
        </li>
        <li>
            <h4>Nutrition Value: {{banana.nutritionValue}}</h4>
        </li>
        <li>
            <h4>Weight: {{banana.weight}}</h4>
        </li>
        <li>
            <button class="btn" [ngStyle]="{'background-color': banana.color}"></button>
        </li>
        

    </ul>
</div>