<div>
    <h1>Pregled jedne banane</h1>

</div>

<ul class="nav nav-pills">
        <li role="presentation"><a [routerLink]="('/banane/'+id+'/info')">Informacije</a></li>
        <li role="presentation"><a [routerLink]="('/banane/'+id+'/edit')">Izmena</a></li>
      </ul>
<router-outlet></router-outlet>