<input placeholder="Search" type="text" [(ngModel)]="staSeSearchuje" />

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Nutration Value</th>
      <th>Weight</th>
      <th>Color</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let banana of bananeModel.banane | search:staSeSearchuje">
      <td>
        <button class="btn btn-info" (click)="otvoriBananu(banana.id)">Otvori</button>
      </td>
      <td>{{banana.id}}</td>
      <td>{{banana.nutritionValue}}</td>
      <td>{{banana.weight}}</td>
      <td>
        <button class="btn btn-default" [ngStyle]="{'background-color': banana.color}"></button>
      </td>
      <td>
        <button class="btn btn-success" (click)="editujBananu(banana.id)">Edituj</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="obrisiBananu(banana.id)">Obrisi</button>
      </td>
    </tr>
  </tbody>
</table>