<div class="Container">

<form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nutri val.</label>
          <input type="number" class="form-control" id="exampleInputEmail1" name = "nutritionValue" aria-describedby="emailHelp" placeholder="Nutrition value" [(ngModel)]="banana.nutritionValue">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Weight</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name = "weight" aria-describedby="emailHelp" placeholder="Weight" [(ngModel)]="banana.weight">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Color</label>
            <select class="form-group" name="color" id="inputGroupSelect01" [(ngModel)]="banana.color">
                <option value="" disabled>Selektuj boju</option>
                <option [ngValue]="boje.key" *ngFor=" let boje of colors">{{boje.label}}</option>
            </select>
        </div>
        
        <button type="button" class="btn btn-primary" (click)="dodajBananu()">Dodaj bananu</button>
      </form>
    </div>